<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.alican.toolrental" >

    <application
        android:name=".utls.ApplicationContextProvider"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.alican.toolrental.MainActivity" />
        </activity>
        <activity
            android:name=".SelectPlaceActivity"
            android:label="@string/title_activity_select_place"
            android:parentActivityName=".DetailActivity"
            android:theme="@style/Theme.Transparent" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.alican.toolrental.DetailActivity" />
        </activity>
        <activity
            android:name=".AddPlaceActivity"
            android:label="@string/title_activity_add_place" >
        </activity>
        <activity
            android:name=".RentalsActivity"
            android:label="@string/title_activity_rentals" >
        </activity>
        <activity
            android:name=".RentalsListActivity"
            android:label="@string/title_activity_rentals_list" >
        </activity>
        <activity
            android:name=".PlaceListActivity"
            android:label="@string/title_activity_place_list" >
        </activity>
    </application>

</manifest>
